.loginform{
	    float: right;
		background-color:grey;
		height: 300px;
		width : 300px;
	}
    .btn{
        width :100px;
    }
    #name,#pwd{
        width: 150px;
    }
    .div-one{
        align-content: center;
        padding: 20px;
        border: 2px solid black;
        border-radius: 15px;
        border : red;
        width : 300px;
        margin-top: 50px;
        margin-left: 200px;
        background-color: #ff9900;
        height: 400px;
        width : 900px;
        opacity:0.75;
    }

    .div-two{
        float: left;
        width : 500px;
        background-color: white;
        height: 300px;
    }
	body{
		background-image: url("login.jpg");
                background-size:500px 800px;
                    
	}

    .mySlides {display:none;}