
		.Div{

			align-content: stretch;
			padding: 20px;
			border: 2px solid black;
			border-radius: 10px;
			border-color: red;
			background-color: black;
			width : 300px;
			margin-top: 80px;
			margin-left: 800px;
		}

		.tbl{

		}

		body{
			background-image: url("reg2.jpg");
			background-repeat: no-repeat;
		}

